<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ video.title }} - Maybetube</title>
</head>
<body>
    <h1>{{ video.title }}</h1>
    <video controls width="640">
        <source src="{{ url_for('static', filename='uploads/' + video.filename) }}" type="video/mp4">
        Ваш браузер не поддерживает воспроизведение видео.
    </video>
    <br>
    <a href="{{ url_for('index') }}">На главную</a>
</body>
</html>
